*{
  margin: 0;
  padding: 0;
}

.frame {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #e5e5e5;
}

.frame .main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  background: #E5E5E5;
}

.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main_frame .midd_frame {
  position: relative;
  width: 970px;
  height: 1259px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
}


.main_frame .left_frame .left_1 {
  position: relative;
  width: 228px;
  height: 267px;
  margin-top: 50px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.main_frame .left_1 .left_1-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 156.16px;
  height: 142.53px;
  margin-bottom: 29.46px;
}

.main_frame .marginer {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;
  /* backgraound */
  border: 1.5px solid #f0f0f6;
}

.main_frame .left_frame .left_2 {
  position: relative;
  width: 221px;
  height: 126px;
  margin-left: 44px;
  /* background-color: aqua; */
}

/* Age */

.left_frame .left_2-1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.left_frame .left_2-1 > div:first-child {
  background-color: orange;
  padding: 5px 7px;
}

.left_frame .left_2-2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.left_frame .left_2-2 > div:first-child {
  background-color: orange;
  padding: 5px 7px;
}

.left_frame .left_2-3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.left_frame .left_2-3 > div:first-child {
  background-color: orange;
  padding: 5px 7px;
}

.left_frame .left_2-4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.left_frame .left_2-4 > div:first-child {
  background-color: orange;
  padding: 5px 7px;
}

.left_1-2 {
  position: relative;
  width: 66.63px;
  height: 20.9px;
  margin-bottom: 6.65px;
  /* H4 - 18x; */
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6px;
  /* or 22px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  /* Black */
  color: #2b2b2b;
}

.main_frame .left_frame .left_1-3 {
  position: relative;
  width: 147.84px;
  height: 25.65px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Paragraph progress -15 */
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* or 160 */
  text-transform: capitalize;
  font-feature-settings: "call" off, "kern" off;
  /* Paragraph Font */
  color: #767676;
}

.left-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 238px;
  margin-top: 19px;
}
.link_href {
  text-decoration: none;
  color: black;
}
.icon {
  position: relative;
  width: 24.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px rgba(0, 0, 0, 0.25));
  /* Yellow */
  background: #ffb400;
}

.icon-1 {
  position: relative;
  left: 29.17%;
  right: 27.08%;
  margin-top: 5.86px;
}


/* .main_frame .left_frame .left_5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-top: 25px;
  margin-left: 45px;
  background-color: aqua;
} */

.main_frame .left_2{
  position: relative;
  width: 220px;
  height: 126px;
  margin-left: 44px;
  display: flex;
  flex-direction: column
}

.main_frame .left_2 .left_2-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main_frame .left_2 .left_2-info .text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(255, 180, 0);
  padding: 0 8px 0 5px;
}

.main_frame .left_2 .left_2-info .num{
  color: rgb(43, 43, 43);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: capitalize;
}

/* Languages */

.main_frame .left_3{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 153px;
  margin-left: 44px;
  /* background-color: aqua; */
}

.main_frame .left_3 h2{
  color: rgb(43, 43, 43);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.main_frame .left_3 .left_3-lang .text{
  display: flex;
  justify-content: space-between;
  color: rgb(118, 118, 118);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.main_frame .left_3 .left_3-lang .progress-1{
  position: relative;
  width: 220px;
  height: 4px;
  border: 0.5px solid rgb(255, 180, 0);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.main_frame .left_3 .left_3-lang .progress-1::after{
  content: "";
  position: absolute;
  height: 2px;
  background: rgb(255, 180, 0);
  border-radius: 30px;
  margin: 0 1px;
  width: 99%;
}

.main_frame .left_3 .left_3-lang .progress-2{
  position: relative;
  width: 220px;
  height: 4px;
  border: 0.5px solid rgb(255, 180, 0);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.main_frame .left_3 .left_3-lang .progress-2::after{
  content: "";
  position: absolute;
  height: 2px;
  background: rgb(255, 180, 0);
  border-radius: 30px;
  margin: 0 1px;
  width: 80%;
}
.main_frame .left_3 .left_3-lang .progress-3{
  position: relative;
  width: 220px;
  height: 4px;
  border: 0.5px solid rgb(255, 180, 0);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.main_frame .left_3 .left_3-lang .progress-3::after{
  content: "";
  position: absolute;
  height: 2px;
  background: rgb(255, 180, 0);
  border-radius: 30px;
  margin: 0 1px;
  width: 60%;
}
/* End Languages */
/* Skills */
.main_frame .left_frame .left_4 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 252px;
  margin-top: 25px;
  margin-left: 45px;
}

.main_frame .left_4 h2{
  color: rgb(43, 43, 43);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.main_frame .left_4 .left_4-lang .text{
  display: flex;
  justify-content: space-between;
  color: rgb(118, 118, 118);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.main_frame .left_4 .left_4-lang .progress-1{
  position: relative;
  width: 220px;
  height: 4px;
  border: 0.5px solid rgb(255, 180, 0);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.main_frame .left_4 .left_4-lang .progress-1::after{
  content: "";
  position: absolute;
  height: 2px;
  background: rgb(255, 180, 0);
  border-radius: 30px;
  margin: 0 1px;
  width: 90%;
}

.main_frame .left_4 .left_4-lang .progress-2{
  position: relative;
  width: 220px;
  height: 4px;
  border: 0.5px solid rgb(255, 180, 0);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.main_frame .left_4 .left_4-lang .progress-2::after{
  content: "";
  position: absolute;
  height: 2px;
  background: rgb(255, 180, 0);
  border-radius: 30px;
  margin: 0 1px;
  width: 85%;
}
.main_frame .left_4 .left_4-lang .progress-3{
  position: relative;
  width: 220px;
  height: 4px;
  border: 0.5px solid rgb(255, 180, 0);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.main_frame .left_4 .left_4-lang .progress-3::after{
  content: "";
  position: absolute;
  height: 2px;
  background: rgb(255, 180, 0);
  border-radius: 30px;
  margin: 0 1px;
  width: 80%;
}

.main_frame .left_4 .left_4-lang .progress-4{
  position: relative;
  width: 220px;
  height: 4px;
  border: 0.5px solid rgb(255, 180, 0);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.main_frame .left_4 .left_4-lang .progress-4::after{
  content: "";
  position: absolute;
  height: 2px;
  background: rgb(255, 180, 0);
  border-radius: 30px;
  margin: 0 1px;
  width: 75%;
}

.main_frame .left_4 .left_4-lang .progress-5{
  position: relative;
  width: 220px;
  height: 4px;
  border: 0.5px solid rgb(255, 180, 0);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.main_frame .left_4 .left_4-lang .progress-5::after{
  content: "";
  position: absolute;
  height: 2px;
  background: rgb(255, 180, 0);
  border-radius: 30px;
  margin: 0 1px;
  width: 85%;
}


/* end Skills */

/* Extra skills */

.main_frame .left_frame .left_5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-top: 25px;
  margin-left: 45px;
  /* background-color: aqua; */
}
.main_frame .left_frame .left_5 h2{
  margin-bottom: 10px;
}

.left_frame .left_5 .left_5-lang .left_skills{
  display: flex;
  margin-bottom: 2px;
}

.left_frame .left_5 .left_5-lang .left_skills img{
  margin-right: 10px;
}


/* middle frame */

.main_frame .midd_frame .about-me {
  display: flex;
  width: 100%;
  height: 454.33px;
  background-color: rgb(255, 255, 255);

}

.main_frame .midd_frame .about-me h2 {
  width: 499.51px;
  height: 116.74px;
  color: rgb(43 43 43);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 99px;
  margin-left: 56px;
}

.main_frame .midd_frame .about-me p{
  width: 424.44px;
  height: 85.61px;
  color: rgb(118, 118, 118);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-top: 17px;
  margin-left: 56px;
}

.main_frame .midd_frame .about-me button{
  width: 154px;
  height: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px 16px 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  border-radius: 5px;
  background: rgb(255, 180, 0);
  border: none;
  cursor: pointer;
  margin-top: 22px;
  margin-left: 56px;
}

.main_frame .midd_frame .about-me img{
  margin-top: 20px;
}
/* end midd top  */

.main_frame .midd_frame .services{
  width: 970px;
  height: 63px;
  margin-top: 148px;
}

.midd_frame .services .info{
  display: flex;
  flex-direction: column;
  justify-content: center ;
  text-align: center;
  width: 100%;
}

.midd_frame .services h2{
  color: rgb(43, 43, 43);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.midd_frame .services .info p{
  color: rgb(118, 118, 118);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 50px;
  width: 438px;
  margin: 0 auto;
  text-align: center;
}

.midd_frame .services .box{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

}

.midd_frame .services .box .inner-box {
  width: 310px;
  height: 225px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.midd_frame .services .box .inner-box:nth-child(3) {
  margin-right: 0px;
}

.midd_frame .services .box .inner-box:last-child {
  margin-right: 0px;
}

.midd_frame .services .box .inner-box img {
  margin-bottom: 33px;
}

.midd_frame .services .box .inner-box h4 {
  color: rgb(43, 43, 43);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.midd_frame .services .box .inner-box p{
  color: rgb(118, 118, 118);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

/* end .midd_frame */

/* right frame */

.main_frame .right_frame {
  position: relative;
  width: 108px;
  height: 1315px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* right frame */
.main_frame .right_frame .right_1{
  position: relative;
  width: 65px;
  height: 493px;
  margin-top: 263px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right_frame .right_1 .icon{
  margin-top: 45px;
  background-color: transparent;
  
}